<form action="/cart" method="post">
    <input type="number" class="quantity" id="quantity" name="quantity" value="1" min="1">
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>
